
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 640px) {
  #root {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
  }
}

@media (min-width: 641px) {
  #root {
    padding: 0;
  }
}
